<div class="container">
  <form>
    {{input autofocus="true" class="has-progress" name="password" type="password" placeholder='Enter new password' autocomplete="off" value=password}}

    {{input class="has-progress" name="password" type="password" placeholder='Confirm password' autocomplete="off" value=passwordConfirmation}}

    <div class="input-group">
      <input class="button default {{if hasError "has-error"}}" name="reset-password" type="submit" value='Reset Password' {{action resetPassword password passwordConfirmation}} />
    </div>

    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </form>
</div>
