<div class="container">
  <form>
    <div class="input-group">
      <label>Password</label>
      {{input autofocus="true" class="has-progress" name="password" type="password" autocomplete="off" value=password}}
    </div>

    <div class="input-group">
      <label>Confirm Password</label>
      {{input class="has-progress" name="password" type="password" autocomplete="off" value=passwordConfirmation}}
    </div>

    <div class="input-group">
      <input class="button default {{if hasError "has-error"}}" name="reset-password" type="submit" value="Change password" {{action resetPassword password passwordConfirmation}} />
    </div>

    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </form>
</div>
