<div class="container">
  <form>
    <div class="input-group">
      <label>Password</label>
      {{input autofocus="true" class="has-progress" name="password" type="password" autocomplete="off" value=password}}
    </div>

    <div class="input-group">
      <label>Confirm Password</label>
      {{input class="has-progress" name="password" type="password" autocomplete="off" value=passwordConfirmation}}
    </div>

    <div class="input-group">
      <button id="reset-password" class="default" type="submit" disabled={{resetPasswordTask.isRunning}} {{action "resetPassword" password passwordConfirmation}}>
       Change password
      </button>
    </div>

    {{#if error}}
      {{error-formatter error=error}}
    {{/if}}
  </form>
</div>
